<ion-header>
  <ion-navbar>
    <ion-title>
      <h4 style="color:#be5000">Requiem.for.a.film</h4>
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="showContent()">
            <ion-icon name="information-circle"color="orange"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:#0d3c55">
    <div id="contenuto"*ngIf="loading else dots">
        <ion-slides pager initialSlide="1"style="height: auto;" (ionSlideDidChange)="slideChanged()">
                <ion-slide>
                    <br>
                    <br>
                    <div class="animated fadeInUp"*ngIf="ctrl0">
                        <ion-list *ngFor="let video of videos">
                                <button ion-item (click)="openVideo(video)"class="animated fadeInUp">
                                    <img src="{{video.img}}"/>
                                    <br>
                                    <br>
                                    <div>
                                        <h2 style="text-align:center">
                                            <b>
                                            {{video.title}}
                                            </b>
                                        </h2>
                                        <br>
                                        <p style="text-align:center">
                                        {{video.description}}
                                        </p>
                                    </div>
                                    <br>
                                    <br>
                                </button>
                        </ion-list>
                    </div>
                </ion-slide>
                <ion-slide class="animated fadeInUp"scroll="false"style="position:relative;heigth:50%;overflow: hidden;">
                    <br>
                    <br>
                    <div class="animated fadeInUp"*ngIf="ctrl1">
                    <div id="filter"style="heigth:100%;background-color:white;border-radius:10px">
                        <br>
                            <div id="intest">
                                <div id="intest" style="position:relative;width:60%;margin-left:auto;margin-right:auto">
                                    <h2 style="color:#be5000"><b>Che film vuoi vedere?</b></h2>
                                </div>
                            </div>
                            <form (ngSubmit)="access()">
                                <ion-list style="position:relative">
                                    <ion-item>
                                        <ion-label stacked>Genere</ion-label>
                                        <ion-select name="genere"[(ngModel)]="filter.genere"required>
                                            <ion-option value="requiemthriller">Thriller</ion-option>
                                            <ion-option value="requiemhorror">Horror</ion-option>
                                            <ion-option value="requiemdrama">Drammatico</ion-option>
                                            <ion-option value="requiemcomedy">Commedia</ion-option>
                                            <ion-option value="requiemaction">Azione</ion-option>
                                            <ion-option value="requiembio">Storico</ion-option>
                                            <ion-option value="requiemcomedy">Commedia</ion-option>
                                            <ion-option value="requiemfantasy">Fantasy</ion-option>
                                            <ion-option value="requiemscifi">Fantascienza</ion-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary">Nome Attore/Regista</ion-label>
                                        <ion-input name="nomeAttore"placeholder="Inserisci il nome dell'attore"[(ngModel)]="filter.nomeAttore"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary">Cognome Attore/Regista</ion-label>
                                        <ion-input name="cognomeAttore"placeholder="Inserisci il cognome del'attore"[(ngModel)]="filter.cognomeAttore"></ion-input>
                                    </ion-item>
                                    <!--
                                    <ion-item>
                                        <ion-label stacked>Periodo</ion-label>
                                        <ion-select name="periodo"[(ngModel)]="filter.periodo">
                                            <ion-option value="requiemanni60">Anni 60</ion-option>
                                            <ion-option value="requiemanni70">Anni 60</ion-option>
                                            <ion-option value="requiemanni80">Anni 60</ion-option>
                                            <ion-option value="requiemanni90">Anni 60</ion-option>
                                            <ion-option value="requiemanni2000">Anni 60</ion-option>
                                            <ion-option value="requiemanni2010">Anni 60</ion-option>
                                        </ion-select>
                                    </ion-item>
                                    -->
                                    <ion-item>
                                        <ion-label stacked>Preferiti della crew</ion-label>
                                        <ion-select name="crew"[(ngModel)]="filter.crew">
                                            <ion-option value=" #requiemtorquemada">Torquemada</ion-option>
                                            <ion-option value=" #requiemkowalski">Kowalski</ion-option>
                                            <ion-option value=" #requiemsolzimer">Solzimer</ion-option>
                                            <ion-option value=" #requiemdonmalakas">Don Malakas</ion-option>
                                            <ion-option value=" #requiemshangai">Shangai</ion-option>
                                        </ion-select>
                                    </ion-item>       
                                </ion-list>
                                <button ion-button type="submit"color="orange">Cerca</button>
                            </form>
                            <br>
                            <br>
                            <br>
                        </div>
                        <br>
                        <br>
                    </div>
                </ion-slide>
                <ion-slide class="animated fadeInUp">
                    <br>
                    <div class="animated fadeInUp"*ngIf="ctrl2">
                        <ion-list no-lines *ngFor="let post of arrayPosts">
                            <ion-card>
                                <img src="{{post.img}}"/>
                                <ion-card-content>
                                <ion-card-title>
                                    {{post.titolo}}
                                    </ion-card-title>
                                    <a href="{{post.url}}"style="color:#be5000"><b>{{post.text}}</b></a>
                                </ion-card-content>
                            </ion-card>
                        </ion-list>
                        <br>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <ng-template #dots>
        <div style="display: table;margin: 0 auto;">
                <img src="assets/imgs/attesa.gif"style="border-radius:100%">
        </div>
    </ng-template>
</ion-content>
