page-home {
    .ads{
        width: 100%;
        height:10%;
        z-index: 99;
        position: fixed;
        right: 0;
        bottom: 0;
    }
    ion-slides{
        .swiper-pagination{
            position: absolute;
            top: 1px;
            right: 40%;
            width: auto !important;
            left: auto !important;
            margin: 0;
            .swiper-pagination-bullet{
                color:#fff;
                background-color:#fff;
            }
            .swiper-pagination-bullet-active {
                color: #FF7800; 
                background-color: #FF7800; 
                opacity: 1;
            }
        }
        ion-slide{
            align-items: flex-start !important;
            overflow:auto;
            .swiper-pagination-bullet-active {
                top: 80px;
            }
        }
    }

}
