<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><h4 style="color:#be5000">Informazioni</h4></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#0d3c55">
    <div class="animated fadeInUp">
        <ion-list no-lines *ngFor="let item of crewRequiem"style="position:relative;heigth:100%;">
            <ion-card>
                <div class="image"style="position:relative;float:left;left:30px;top:5px;margin-bottom:10px">
                    <img class="circle-pic"src="{{item.img}}">
                </div>
                <div class="content"style="position:relative;top:30px;text-align:center">
                    <ion-card-header>
                        <a href="{{item.link}}"style="color:#be5000">{{item.nome}}</a>
                    </ion-card-header>
                </div>
                <br>
            </ion-card>
        </ion-list>
        <br>
        <ion-card>
                <div class="image"style="position:relative;float:left;left:30px;top:5px;margin-bottom:10px">
                    <img class="circle-pic"src="assets/imgs/fede.jpg">
                </div>
                <div class="content"style="position:relative;top:30px;text-align:center">
                    <ion-card-header>
                            <a href="https://www.linkedin.com/in/federico-antosiano-8a45ba166/"style="color:#be5000">Federico Antosiano</a>
                        <p style="color:#0d3c55">Sviluppatore App</p>
                    </ion-card-header>
                </div>
                <br>
        </ion-card>
    </div>
</ion-content>
