page-info {
    .image {
        height: 100px; 
        width: 100px; 
       border: 2px solid #fff;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
       .circle-pic{
        width:100%;
        height:100%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        }
    }
}
