<ion-header>

  <ion-navbar>
    <ion-title><h4 style="color:#be5000">Risultati</h4></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#0d3c55">
    <div id="showImages">
        <ion-list style="position:relative;" *ngFor="let movie of arrayMovies">
            <ion-card style="position:relative;"class="animated slideInUp">
              <img src="{{movie.link}}"/>
              <ion-card-content>
                <p>{{movie.text}}</p>
              </ion-card-content>
            </ion-card>
          </ion-list>
    </div>
</ion-content>
